body {
  height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
}

main {
  text-align: center;
  width: 100vw;
  display: table;
  height: calc(100vh - 35px);
}

.text {
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 15px;
}
